#root {
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  background-color: #282c34;
  color: white;
}
i{
  color: teal;
}
a{
  text-decoration: none;
  color: white;
}
.App-headers {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#forecast-box{
  max-width: 80vw;
  text-align: center;
  margin: 0 auto;
}